<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>Task Manager</title>
</head>
<body>
    <div class="container">

        <h1>Task Manager</h1>

        <!-- Add a task -->
        <div class="task-input">
            <form action="/add-task" method="POST" enctype="multipart/form-data">
                <input type="text" name="taskName" placeholder="Enter a new task" required />
                
                <select name="taskStatus" required>
                    <option value="not started" selected>Not Started</option>
                    <option value="in progress">In Progress</option>
                    <option value="done">Done</option>
                </select>
                
                <input type="date" id="taskExpectedDate" name="taskExpectedDate" max="2100-12-31" min="1970-01" required />
                <label class="input-file">
                    <input type="file" name="taskFile">		
                    <span>Выберите файл</span>
              </label>
                <input type="submit" id="add-task" value="Add Task" />
            </form>
        </div>

        <!-- Status Filter -->
        <div class="status-filter">
            <form action="/filterTasks" method="GET">
                <select name="filterStatus">
                    <option value="" <%= !filterStatus ? 'selected' : '' %>>All Statuses</option>
                    <option value="not started" <%= filterStatus === 'not started' ? 'selected' : '' %>>Not Started</option>
                    <option value="in progress" <%= filterStatus === 'in progress' ? 'selected' : '' %>>In Progress</option>
                    <option value="done" <%= filterStatus === 'done' ? 'selected' : '' %>>Done</option>
                </select>
                <input type="submit" id="filter-task" value="Filter" />
            </form>
        </div>
        
        <!-- Task List -->
        <div class="tasks-list">
          <% tasks.forEach(function(task) { %>
              <div class="task">
                  <p class="task-title">Name: <%= task.name %></p>
                  <p>Status: <%= task.status %></p>
                  <p>Expected Date: <%= task.expectedDate %></p>
                  <% if (task.file) { %>
                      <p>File: <a href="/uploads/<%= task.file %>"><%= task.file %></a></p>
                  <% } %>
              </div>
          <% }); %>
        </div>
    </div>
</body>
</html>